/*.main
{
	width: 80%;
}

*/


header
 {
	background-image:
	url(img/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

h1
{

	font-family: roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 8.5rem;
	text-align: center;
	margin: 0px;

	color: #FFFFFF;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hello
{

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 6rem;
	text-align: center;
	padding-top: 300px;
	margin: 0px;

	color: #FFFFFF;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.titles
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 3rem;
	text-align: center;
	margin: 0px;

	color: #FFFFFF;
}

.about-h2
{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 3rem;
	text-align: center;
	text-decoration-line: underline;

	color: #5D5D5D;
}

.me
{
	width: 70%;
	height: 70%;
	border: 1px solid #5D5D5D;
	box-sizing: border-box;
	border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-me
{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 3rem;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #5D5D5D;
}

.img-mom
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 500px;
	color: #5D5D5D;
}














