/*.main
{
	width: 80%;
}

*/


header
 {
	background-image:
	url(img/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

h1
{

	font-family: roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 7.5rem;
	text-align: center;
	margin: 0px;

	color: #FFFFFF;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hello
{

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 5rem;
	text-align: center;
	padding-top: 200px;
	margin: 0px;

	color: #FFFFFF;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.titles
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 2rem;
	text-align: center;
	margin: 0px;

	color: #FFFFFF;
}

.about-h2
{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 3rem;
	text-align: center;
	text-decoration-line: underline;
	margin-top: 0;
	padding-top: 20px;
	color: #5D5D5D;
}

.me
{
<<<<<<< HEAD
	width: 30rem;
	height: 30rem;
=======
	width: 70%;
	height: 70%;
>>>>>>> 8ad3d3f42368f28709061a8e91c10bd646123f19
	border: 1px solid #5D5D5D;
	box-sizing: border-box;
	border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-me
{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 3rem;
	text-align: center;
<<<<<<< HEAD
	margin-bottom: 0;
=======
	margin-top: 20px;
	margin-bottom: 0px;
>>>>>>> 8ad3d3f42368f28709061a8e91c10bd646123f19
	color: #5D5D5D;
	margin-top: 2rem;
}

.img-mom
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	color: #5D5D5D;
}

.bullet
{
	width: 80%;
	margin: auto;
}

.book, .leader
{
	float: left;
	margin-right: 10%;
	margin-left: 5%;
	text-align: center;
}

.solve, .goal
{
	text-align: center;
	float: right;
}

.bullet img 
{
	width: 200px;
	height: 200px;
}

.bullet h3
{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 10px;
	color: #5D5D5D;
	margin-bottom: 15px;
}

.bullet p
{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 1.5rem;
	text-align: center;
	width: 300px;
	color: #5D5D5D;
	margin-bottom: 40px;
}







@media (min-width: 900px) {
	body {
		
	}
}



