header
 {
	background-image:
	url(img/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

h1
{

	font-family: roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 8.5rem;
	text-align: center;
	margin: 0px;

	color: #FFFFFF;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hello
{

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 6rem;
	text-align: center;
	padding-top: 300px;
	margin: 0px;

	color: #FFFFFF;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.titles
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 3rem;
	text-align: center;
	margin: 0px;

	color: #FFFFFF;
}